/* Imposto parametri e elementi comuni */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.section-container {
    max-width: 800px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    background-color: #7289DA;
    margin: 10px;
}

.btn.btn-small {
    padding: 10px 15px;
    font-size: 14px;
    background-color: whitesmoke;
    color: black;
}

.btn.btn-big {
    padding: 15px 20px;
    font-size: 14px;
    background-color: black;
}

.wave {
    height: 100px;
    background-image: url(./img/wave.svg);
    filter: opacity(0.04);
}

.rotate {
    transform: rotate(180deg);
}

/* Imposto logo e prefazione */

.top-bar {
    padding: 20px;
    background-color: #245ee9;
}

.top-bar .content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar .login-column {
    width: 20%;
}

.top-bar .logo-column img {
    width: 80%;
}

.top-bar .menu-column {
    width: 60%;
}

.menu-column ul {
    justify-content: center;
    display: flex;
}

.menu-column ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    display: inline-block;
}

/* .menu-column ul li a:hover */

.login-column {
    width: 20%;
    text-align: right;
}

.jumbotron {
    display: flex;
    justify-content: center;
    padding: 200px;
    align-items: center;
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.jumbotron .content {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

h1 {
    color: white;
    margin-bottom: 25px;
}

.top-bar .content > p {
    color: white;
    line-height: 30px;
}

/* Imposto corpo e colonne */

section {
    padding: 20px;
}

.section-container {
    display: flex;
}

.section-container-behind {
    background-color: rgb(245, 245, 245);
}

.big-column {
    width: 60%;
}

.small-column {
    width: 40%;
}

/* Form e fine pagina */

.footer-top {
    width: 800px;
    margin: 0 auto;
    display: flex;
    padding: 20px 0 20px 0;
}

.footer-top .mix-column-lx {
    flex-basis: 30%;
    height: 300px;
}

.footer-top .mix-column-rx {
    display: flex;
    flex-basis: 70%;
    align-items: stretch;
}

.mix-column-single {
    flex-basis: 25%;
}

.footer-bottom {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.footer-bottom .logo-column,
.footer-bottom .button-column {
}

