/* Parametri e configurazioni comuni */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li {
    list-style: none;
}

.white {
    color: white;
}

.purple {
    color: rgb(114, 137, 218);
}

.section-container {
    max-width: 800px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.space {
    padding: 25px 0;
}

span > a,
div > a {
    text-decoration: none;
}

.ta-c {
    text-align: center;
}

.vertical {
    line-height: 50px;
}

.vertical-small{
    line-height: 30px;
}

.fa-brands {
    font-size: 20px;
    padding: 0 5px;
}

.wave {
    background-image: url(./img/wave.svg);
    height: 100px;
    filter: opacity(0.04);
}

.rotate {
    transform: rotateX(0.5turn);
}

/* Header logo e prefazione */

header {
    background-color: #255ee9;
}

.top-bar {
    padding: 10px;
}

.top-bar .content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar .logo-column {
    width: 20%;
}

.top-bar .logo-column img {
    width: 80%;
}

.top-bar .menu-column {
    width: 60%;
}

.menu-column ul {
    justify-content: center;
    display: flex;
}

.menu-column ul li a {
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
}

/* Sezione jumbotron */

.login-column {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
}

.jumbotron {
    display: flex;
    justify-content: center;
    padding: 55px;
    align-items: center;
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.jumbotron .content {
    width: 600px;
    height: 250px;
}

.button {
    border: 0 20px;
    padding: 10px 20px;
    border-radius: 20px;
}

.lf {
    background-color: white;
    color: black;
}

.rg {
    background-color: black;
    color: white;
}

.star {
    background-image: url(./img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 25px;
    font-weight: bold;
    padding: 15px;
}

/* Imposto corpo e colonne */

section {
    padding: 20px;
}

.section-container {
    display: flex;
}

.big-column {
    width: 60%;
    height: 300px;
}

.small-column {
    width: 40%;
    height: 300px;
}

.bg-fix {
    background-color: #f6f6f6;
}

.form {
    width: 800px;
    height: 500px;
}

/* Form e prima parte footer */

footer {
    background-color: #23272a;
}

.footer-top {
    width: 800px;
    margin: 0 auto;
    display: flex;
    padding: 20px 0 20px 0;
}

.ita {
    width: 20px;
}

.footer-top .mix-column-lx {
    flex-basis: 30%;
    height: 300px;
}

.footer-top .mix-column-rx {
    display: flex;
    flex-basis: 70%;
    height: 300px;
    align-items: stretch;
}

.mix-column-single {
    flex-basis: 25%;
}

/* Seconda parte footer */

.footer-bottom { 
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid white;
}

.button-column {
    background-color: rgb(114, 137, 218) ;
    border-radius: 10px;
    padding: 10px;
}